# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6

print(number)

<class 'int'>

##### Assinging float

In [5]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [14]:
result_div = num2 / num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [20]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [21]:
name = 'Ben'
print(name)

Ben

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("Full Name:", name, end = " Green")

Full Name: Ben Green

##### String Concatenation

In [26]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [27]:
number = "32"

change_type_num = int(number)
print(change_type_num + 2)

34

##### input()

In [29]:
# input will always return a string
age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

What is your age?: 28
29

##### format()

In [32]:
age = input("What is your age?: ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age?: 28
You are 28 Ben and you are getting wiser!
28 is a great time in life!!!

##### Old Way (python 2)

In [33]:
age = input("How old are you?: ")
result_string2 = "You are %s and look great for your age!" %age
print(result_string2)

How old are you?: 28
You are 28 and look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [35]:
color = input("Color?: ")
year = input("Year?: ")
make = input("Make?: ")
model = input("Model?: ")

result_str = "The car's color is {}, the year is {}, make is {}, and model is {}".format(color, year, make, model)
result_fstr = f"The car's color is {color}, the year is {year}, make is {make}, and model is {model}"

print(result_str)
print(result_fstr)

Color?: Black
Year?: 2017
Make?: Kia
Model?: Optima
The car's color is Black, the year is 2017, make is Kia, and model is Optima
The car's color is Black, the year is 2017, make is Kia, and model is Optima

### If Statements

In [36]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [47]:
# use the is keyword when checking for same/similar object(s), NOT ALWAYS the same value

num3 = 55

if num3 is 55:
    print("This is the exact number/object")

if type(num3) is int:
    print("is an int")
else:
    print("not a clear int")
    
print(type(num3))

This is the exact number/object
is an int
<class 'int'>

##### 'in' keyword

In [49]:
# Check if char is IN name
char_name = "Max Payne"

if "max" in char_name:
    print("The character who lost everything...")
else:
    print("Never Heard of that guy!")

Never Heard of that guy!

##### 'not in' keyword'

In [50]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [53]:
if "p" in input("Input: "):
    print("p is in the input")
else:
    print("p is not in the input")

Input: pretzel
p is in the input

## Using 'and'/'or' with If Statements

In [57]:
num_4 = 15
num_5 = 3
num_6 = 10
num_7 = 3

if num_4 / 5 == num_5 and num_6 - 6 == num_7:
    print("True and True")
    
if num_4 > num_5 or num_6 == num_7:
    print("True or False")

True or False

### Elif Statements

In [58]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [61]:
name = "Ben Green"

for letter in name:
    print(letter)
    
print("\n")    
    
for letter in range(len(name)):
    print(name[letter])

B
e
n

G
r
e
e
n


B
e
n

G
r
e
e
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [62]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [63]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [64]:
for i in name:
    pass #todo: come back and finish implementation

##### Double For Loops

In [66]:
#for i in range(5):
#    for j in range(5):
#        print("i = ", i, " j = ", j)
        
for i in range(len(name)):
    for j in range(1, len(name)-1):
        print("i = ", name[i], "j = ", name[j])

i =  B j =  e
i =  B j =  n
i =  B j =
i =  B j =  G
i =  B j =  r
i =  B j =  e
i =  B j =  e
i =  e j =  e
i =  e j =  n
i =  e j =
i =  e j =  G
i =  e j =  r
i =  e j =  e
i =  e j =  e
i =  n j =  e
i =  n j =  n
i =  n j =
i =  n j =  G
i =  n j =  r
i =  n j =  e
i =  n j =  e
i =    j =  e
i =    j =  n
i =    j =
i =    j =  G
i =    j =  r
i =    j =  e
i =    j =  e
i =  G j =  e
i =  G j =  n
i =  G j =
i =  G j =  G
i =  G j =  r
i =  G j =  e
i =  G j =  e
i =  r j =  e
i =  r j =  n
i =  r j =
i =  r j =  G
i =  r j =  r
i =  r j =  e
i =  r j =  e
i =  e j =  e
i =  e j =  n
i =  e j =
i =  e j =  G
i =  e j =  r
i =  e j =  e
i =  e j =  e
i =  e j =  e
i =  e j =  n
i =  e j =
i =  e j =  G
i =  e j =  r
i =  e j =  e
i =  e j =  e
i =  n j =  e
i =  n j =  n
i =  n j =
i =  n j =  G
i =  n j =  r
i =  n j =  e
i =  n j =  e

### While Loops

In [69]:
num = 10
while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [70]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [73]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [74]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [75]:
char_name = "Max"

length = len(char_name)
print(char_name)
print(length)

Max
3

##### help()

In [76]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [77]:
# Check a variable to find out what object family it belongs to

if isinstance(4.5, float):
    print("This number is a float type")

This number is a float type

##### abs()

In [78]:
print(abs(-5))

5

### Try and Except

In [79]:
# Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Also used so that you can log out a graceful/useful error to the end-user

try:
    number_test = 0
    input_num = int(input("Guess a number: "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))

except:
    print("That doesn't work ---- ERROR: Change your input to a REAL number/integer")

Guess a number: f
That doesn't work ---- ERROR: Change your input to a REAL number/integer

### Lists

##### Declaring Lists

In [90]:
l_1 = [] 

names = ["Max", "Cindy", "Kathy", "Bob", "Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [85]:
print(names[0])

print(names[1:])

print(names[:2])

print(names[1::2])

print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [91]:
names.append("Ben")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Ben']

##### .insert()

In [92]:
names.insert(3, "Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate', 'Ben']

##### .pop()

In [93]:
#defaults to the last value if no parameter is given
names.pop()
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate']


##### .remove()

In [95]:
names.append("Bob")

print(names)

while "Bob" in names:
    names.remove("Bob")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Nate', 'Bob']
['Max', 'Cindy', 'Kathy', 'Gabby', 'Nate']

##### del()

In [96]:
del(names[1])

print(names)

['Max', 'Kathy', 'Gabby', 'Nate']

##### Concatenating Two Lists

In [97]:
l_2 = [0,1,2]
l_3 = [3,4,5]
large_list = l_2 + l_3

print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [102]:
names = ["Max","Sam","Josh",["Sally", "Sue", "Steph"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Steph']]
Sue

##### Looping Through Lists

In [111]:
for i in range(len(names)):
    if i != 3:
        print(names[i])
    elif i == 3:
        for j in range(len(names[i])):
            print(names[i][j])
    
#for i in names:
#    print(i)

Max
Sam
Josh
Sally
Sue
Steph

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [107]:
num = 0
while num**3 <= 1000:
    print(num**3)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [113]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(100):
    if i > 1:
        for j in range(2, i):
            if (i % j) == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [114]:
age = int(input("Age?: "))

if age < 18:
    print("kids")
elif age < 65:
    print("adults")
else:
    print("seniors")

Age?: 28
adults